
/* #########-----This is Common css------######### */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Mulish', sans-serif;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
}
a{
    text-decoration: none;
}



/* #########-----This is Header Section css------######### */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 56.008px;
    width: 21;
}
.logo h1{
    color: #131318;
    font-size: 2.1rem;
    margin-left: 10px;
}
.menu-bar ul li{
    display: inline;
    list-style: none;
    margin-left: 44px;
}
.menu-bar ul li a{
    color: var(--Dark-02, #424247); 
}



/* #########-----This is Banner Section css------######### */
.banner{
    margin-top: 50px;   
}
.banner-items{
    background:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%), url(../img/Group\ 13.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    width: 100%;
    display: grid;
    border-radius: 10px;
}  
.banner-title h1, p, .btn{
    text-align: center;
}
.banner-title h1{
    margin-top: 105px;
    font-size: 4rem;
    color: #FFF;
    font-weight: 800;
}
.banner-title p{
    margin-top: 24px;
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.btn > input{
    border: none;
    padding: 13px;
    border-radius: 5px;
    margin: 0px 15px;
}


/* #########-----Our Popular Tours Section css------######### */
.popular-section{
    margin-top: 100px;
    height: 550px;
    display: flex;
    gap: 55px;
}
.pop-left{
    width: 50%;
}
.pop-left p, ul>li{
    align-items: left;
    color: rgba(19, 19, 24, 0.70);
    margin-top: 30px;
    font-size: 1rem;
}
.pop-left h1{
    font-weight: 800;
}
.my-btn input{
    border: none;
    padding: 13px 20px;
    border-radius: 5px;
    background-color: #FF5400;
    margin-top: 30px;
    color: white;
    text-align: center;
    text-decoration: none;
}
.popular-section > .pop-right > img{
    width: 100%;
}




/* #########-----Choose Your Destination Section css------######### */
.container > .destination{
    margin-top: 100px;
    height: 1080px;
}
.destination-title{
    /* width: 100%; */
}
.destination-title h1{
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.destination-title p{
    margin-top: 24px;
    align-items: center;
    font-size: 1rem;
}
.gallery-one{
    margin-top: 24px;
    /* height: 300px; */
    display: flex;
    justify-content: space-between;
}
.gallery-one img{
    width: 49.3%;
}
.two-gallery{
    /* height: 300px; */
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.gallery-three{
    margin-top: 15px;
    display: flex;
    /* height: 300px; */
    justify-content: space-between;
    width: 100%;
}




/* #########-----why choose us Section css------######### */
.choose{
    margin-top: 200px;
}
.choose-title h1{
    color: #131318;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 800;
}
.choose-title p{
    color: rgba(19, 19, 24, 0.70);
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 24px;
}
.box-up{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    height: 280px;
    align-items: flex-start;
}
.left-box, .right-box, .last-box{
    padding: 35px;
    width: 49%;
    border-radius: 16px;
    border: 1px solid rgba(155, 101, 39, 0.2);
    background: rgba(251, 181, 99, 0.05);
}
.left-box > h5, .right-box > h5, .last-box >h5{
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin-top: 30px;
}
.left-box > p, .right-box > p, .last-box > p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    margin-top: 25px;
}
.box-down{
    margin-top: 24px;
    height: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/* #########-----newsletter Section css------######### */
.newsletter{
    margin-top: 100px;
    height: 430px;
    /* border: 2px solid brown; */
    display: flex;
    justify-content: space-between;
    gap: 25px;
}
.left-form{
    width: 100%;
    border: 1px solid sandybrown;
    border-radius: 13px;
    padding: 20px;
}
.left-form h3{
    color: #131318;
    font-family: Mulish;
    font-size: 1.8rem;
    font-weight: 800;
}
.left-form p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}
.gap-fill{
    margin-top: 48px;
}
.gap-fill > input{
    display: block;
    padding: 20px 100px;
    border-radius: 8px;
    border: none;
    background: rgba(19, 19, 24, 0.05);
    margin: 30px 0px;
}
.save-img img{
    height: 100%; 
}
.subs{
    padding: 20px 147px;
    border-radius: 8px;
    border: none;
    background-color: #FF5400;
    color: #FFF;
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
}




/* #########-----  Footer Section css------######### */
.footer{
    background: rgba(19, 19, 24, 0.05);
    height: 500px;
}
.f-title{
    padding-top: 110px;
    margin-top: 100px;
}
.f-title > p{
    color: #5A5A5D;
    font-size: 1rem;
    font-weight: 400;
}
.f-heading{
    display: flex;
    justify-content: center;
}
.f-heading > h1{
    font-size: 2rem;
    font-weight: 800;
}
.icons-list{
    display: flex;
    justify-content: center;
}
.icons-list > ul > li{
    list-style: none;
}
.icons-list > ul > li > a{
    text-decoration: none;
    height: 24px;
}
.icons-list > ul > li > a > i{
    color: #131318;
    font-size: 2rem;
    padding: 24px;
}
.copy-right > p{
    margin: 100px auto;
    color: #131318;
    font-size: 1rem;
    font-weight: 300;
}







            /* this is small screen  */
@media screen and (max-width: 600px) {
    .navbar{
        flex-direction: column;
        } 
    .banner-title{
        margin-top: 0px;
    }
    .banner-title p{
        margin-top: 0px;
    }
    .banner-items{
        align-content: space-around;
    }
    .popular-section{
        flex-direction: column;
        align-items: center;
    }
}
